/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/
*{
    box-sizing: border-box;
    
}
body{
   background-image: url(images/3.jpg);
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   font-family:'Poppins', sans-serif;
   margin: 0;
   color: white; 
}
h1{  
    background: -webkit-linear-gradient(rgb(85 43 255), #ffffff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
h2{
    background: -webkit-linear-gradient(rgb(85 43 255), #ffffff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 2rem;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.3rem;
}